#element-1 {
  color: #f0ece1;
}
main {
  min-height: calc(100vh - 90px - 60px - 3px);
  height: fit-content;
}
.maintainance {
  margin-top: 93px;
  font-family: Ubuntu, sans-serif;
  font-size: 2vw;
  color: white;
  position: absolute;
  top: calc(100% / 2 - 93px);
  left: calc(100% / 2 - 15vw);
}
.header-main-nav ul li a[href="ein.html"] {
  color: white;
}
