#element-2 {
  color: #f0ece1;
}
.fahrzeuge {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fahrzeuge-box {
  width: 1050px;
  height: fit-content;
  background-color: #f0ece1;
  border: 12px solid #a72920;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  margin: 5em 0 0 0;
}
.fahrzeuge-intro {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.fahrzeuge-intro h1 {
  text-align: center;
}
.fahrzeuge-box hr {
  margin: 0;
  width: 100%;
  border: 5px solid #a72920;
}
.fahrzeuge-box h1 {
  font-size: 6em;
  margin: 20px 0 20px;
}
.slider,
.slider2,
.slider3 {
  width: 60em;
  max-width: 100vw;
  height: calc(60em / 16 * 9);
  border: 5px solid #a72920;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.slider .list,
.slider2 .list,
.slider3 .list {
  position: absolute;
  width: max-content;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  transition: 1s;
}
.slider .list img,
.slider2 .list img,
.slider3 .list img {
  width: 60em;
  height: calc(60em / 16 * 9);
  object-fit: cover;
}
.slider .buttons,
.slider2 .buttons,
.slider3 .buttons {
  position: absolute;
  top: 45%;
  left: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.slider .buttons button,
.slider2 .buttons button,
.slider3 .buttons button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff5;
  color: #a72920;
  border: 2px solid #a72920;
  font-family: Ubuntu, sans-serif;
  font-weight: bold;
  font-size: 20px;
}
.slider .buttons button:hover,
.slider2 .buttons button:hover,
.slider3 .buttons button:hover {
  border-color: #f0ece1;
  color: #f0ece1;
}
.slider .dots,
.slider2 .dots,
.slider3 .dots {
  position: absolute;
  bottom: 10px;
  left: 0;
  color: #f0ece1;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.slider .dots li,
.slider2 .dots li,
.slider3 .dots li {
  list-style: none;
  width: 10px;
  height: 10px;
  background-color: #f0ece1;
  margin: 10px;
  border-radius: 20px;
  transition: 0.5s;
}
.slider .dots li.active,
.slider2 .dots li.active2,
.slider3 .dots li.active3 {
  width: 30px;
}
.info {
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 0 20px;
}
.info-box {
  width: calc((1050px - 2 * 12px) / 2);
  height: 70px;
  /*border: 1px solid red;
  box-sizing: border-box;*/
  display: flex;
  align-items: center;
  margin: 3px 0 3px;
}
#box-l {
  width: calc((1050px - 2 * 12px) / 3 * 2);
}
#box-s {
  width: calc((1050px - 2 * 12px) / 3 * 1);
}
.info-box img {
  height: 100%;
  width: 60px;
  height: 60px;
  padding: 5px;
  /*background-color: violet;*/
}
.info-box h3,
.info-box p {
  height: 100%;
  line-height: 70px;
  font-size: 1.5em;
  margin: 0;
}
.info-box h3 {
  width: calc((100% - 70px) / 5 * 2 + 70px);
  display: flex;
  /*border: 1px solid blue;
  box-sizing: border-box;*/
}
.info-box#box-l h3 {
  width: calc(100% / 5 * 2);
}
.info-box#box-s h3 {
  width: fit-content;
}
.info-box p {
  width: calc((100% - 70px) / 5 * 3);
  text-align: center;
  /*border: 1px solid yellow;
  box-sizing: border-box;*/
}
.info-box#box-l p {
  width: calc(100% / 5 * 3);
}
.info-box p.text2,
.info-box p.text3,
.info-box p.text5 {
  line-height: 35px;
}
.info-box p.text6 {
  height: calc(70px / 3 * 2);
  line-height: calc(70px / 3);
  margin: calc(70px / 6) 0 calc(70px / 6);
}
.info-box h3.text4 div {
  text-align: center;
  width: fit-content;
  line-height: 35px;
}
.info-box h3.text4 {
  display: flex;
}
.fahrzeuge-info-text {
  width: calc(1050px - 20px * 2);
  height: fit-content;
  font-size: 25px;
  margin: 20px 0 20px;
}
.fahrzeuge-info-text p {
  margin: 0;
  text-align: justify;
}
.text-div {
  display: flex;
}
.br-mobile {
  display: none;
}
.fuh-anchor {
  position: relative;
  bottom: 20px;
}
#box-l h3 {
  display: flex;
}
@media only screen and (max-width: 1100px) {
  .fahrzeuge-box {
    width: 100vw;
    min-width: 390px;
    margin: 20px 0 20px;
    border: none;
    border-top: 10px solid #a72920;
    border-bottom: 10px solid #a72920;
    border-radius: 0;
  }
  .fahrzeuge-box h1 {
    font-size: 8vw;
  }
  .slider,
  .slider2,
  .slider3 {
    box-sizing: border-box;
    min-height: 390px;
    min-width: 390px;
    width: calc(100vw);
    max-width: 960px;
    height: calc((100vw) / 16 * 9);
    max-height: calc((960px) / 16 * 9);
    border-radius: 0;
  }
  .slider .list img,
  .slider2 .list img,
  .slider3 .list img {
    width: calc(100vw);
    min-width: 390px;
    max-width: 960px;
    height: calc((100vw) / 16 * 9);
    min-height: 390px;
    max-height: calc((960px) / 16 * 9);
  }
  .info {
    flex-direction: column;
    align-items: center;
  }
  .info-box {
    justify-content: space-between;
    width: 380px;
    margin-left: 10px;
  }
  .info-box h3,
  .info-box p {
    font-size: 28px;
    width: fit-content;
  }
  .info-box h3 {
    display: flex;
  }
  .info-box p {
    min-width: calc(390px / 5 * 2);
  }
  .info-box img {
    display: none;
  }
  .info-box p.text3 {
    line-height: calc(70px / 3);
  }
  .br-mobile {
    display: initial;
  }
  .br-mobile2 {
    display: none;
  }
  .fahrzeuge-info-text {
    width: 100vw;
    min-width: 390px;
  }
  .fahrzeuge-info-text p {
    font-size: 28px;
    text-align: start;
    margin-left: 3vw;
  }
  .fuh-anchor {
    bottom: 10px;
  }
  .info-box p.text5 {
    line-height: calc(70px / 3);
  }
  .info-box p.text6 {
    margin: calc(70px / 6) 0 calc(70px / 6) 10px;
  }
  #box-l {
    flex-direction: column;
    height: fit-content;
    width: fit-content;
  }
  .info-box#box-l h3,
  .info-box#box-l p {
    width: fit-content;
  }
  .info-box#box-s {
    width: calc(380px);
  }
}
@media only screen and (min-width: 460px) {
  .info-box img {
    display: initial;
  }
  .info-box h3 {
    justify-self: flex-start;
  }
}
@media only screen and (min-width: 460px) and (max-width: 1100px) {
  .info-box {
    width: calc(390px + 70px);
    margin-left: 0;
  }
  .info-box#box-s {
    width: calc(390px + 70px);
  }
}
@media only screen and (max-width: 390px) {
  .fahrzeuge-box h1 {
    font-size: 2em;
  }
}
