#element-2 {
  color: #f0ece1;
}
.fahrzeuge {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fahrzeuge-box {
  width: 1100px;
  height: fit-content;
  background-color: #f0ece1;
  border: 12px solid #a72920;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  margin: 5em 0 8em;
}
.fahrzeuge-box hr {
  margin: 3vh 0 3vh;
  width: 100%;
  border: 5px solid #a72920;
}
.fahrzeuge-box h1 {
  font-size: 6em;
  margin: 20px 0 20px;
}
.slider,
.slider2,
.slider3 {
  width: 60em;
  max-width: 100vw;
  height: calc(60em / 16 * 9);
  border: 5px solid #a72920;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.slider .list,
.slider2 .list,
.slider3 .list {
  position: absolute;
  width: max-content;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  transition: 1s;
}
.slider .list img,
.slider2 .list img,
.slider3 .list img {
  width: 60em;
  height: calc(60em / 16 * 9);
  object-fit: cover;
}
.slider .buttons,
.slider2 .buttons,
.slider3 .buttons {
  position: absolute;
  top: 45%;
  left: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.slider .buttons button,
.slider2 .buttons button,
.slider3 .buttons button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff5;
  color: #a72920;
  border: 2px solid #a72920;
  font-family: Ubuntu, sans-serif;
  font-weight: bold;
  font-size: 20px;
}
.slider .buttons button:hover,
.slider2 .buttons button:hover,
.slider3 .buttons button:hover {
  border-color: #f0ece1;
  color: #f0ece1;
}
.slider .dots,
.slider2 .dots,
.slider3 .dots {
  position: absolute;
  bottom: 10px;
  left: 0;
  color: #f0ece1;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.slider .dots li,
.slider2 .dots li,
.slider3 .dots li {
  list-style: none;
  width: 10px;
  height: 10px;
  background-color: #f0ece1;
  margin: 10px;
  border-radius: 20px;
  transition: 0.5s;
}
.slider .dots li.active,
.slider2 .dots li.active2,
.slider3 .dots li.active3 {
  width: 30px;
}
@media screen and (max-width: 768px) {
  .slider,
  .slider2,
  .slider3 {
    height: 400px;
  }
}
.fahrzeuge-info-box {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-around;
}
.fahrzeuge-info {
  width: fit-content;
  height: 100%;
  font-size: 2em;
  line-height: 2.5em;
  display: flex;
}
.fahrzeuge-info-1 {
  width: fit-content;
  height: 100%;
  margin-right: 10px;
}
.fahrzeuge-info-1 p {
  margin: 0;
}
.fahrzeuge-info-2 {
  width: fit-content;
}
.fahrzeuge-info-2 p {
  margin: 0;
}
.fahrzeuge-info-3 {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.fahrzeuge-info-3 img {
  height: 2.5em;
}
.fahrzeuge-info-text {
  width: 90%;
  height: fit-content;
  font-size: 1.5vw;
  margin: 0 0 3vh 0;
}
.fahrzeuge-info-text p {
  margin: 0;
  text-align: justify;
}
.info-double {
  line-height: 5em;
}
.img-double {
  margin: 5vh 0 5vh;
}
.text-double {
  line-height: 1.25em;
  width: fit-content;
  text-align: center;
}
.text-div {
  display: flex;
}
.fuh-anchor {
  position: relative;
  bottom: 3em;
}
@media only screen and (max-width: 1100px) {
}