#element-2 {
  color: #f0ece1;
}
#fuhrpark {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.fuhrpark-zug {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fuhrpark-zug-fahrzeuge {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}
#fuhrpark-zug-last {
  margin-bottom: 20px;
}
.linebreak {
  width: 100%;
  margin: 20px 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.linebreak hr {
  width: 100vw;
  min-width: calc(390px - 85px - 40px);
  border: 3px solid #f0ece1;
  margin: 0;
}
.linebreak div {
  width: fit-content;
  margin: 0 10px 0 10px;
}
.linebreak div p {
  color: #f0ece1;
  font-size: 30px;
  white-space: nowrap;
}
.fahrzeuge-link {
  height: fit-content;
  min-width: 390px;
  margin: 5px 15px 5px 15px;
  overflow: hidden;
  color: black;
  text-decoration: none;
  border: 3px solid #a72920;
  border-radius: 5px;
  transition: border-color 0.5s ease, color 0.5s ease;
}
.fahrzeuge-link:hover {
  border-color: #f0ece1;
  color: #f0ece1;
}
.fahrzeuge {
  width: 30em;
  height: fit-content;
  background-color: #f0ece1;
  overflow: hidden;
  text-align: center;
  transition: background-color 0.2s ease;
}
.fahrzeuge:hover {
  background-color: black;
  border-color: #f0ece1;
}
.fahrzeuge-box {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.fahrzeuge-img {
  align-self: center;
  position: relative;
  width: 30em;
  height: calc(30em / 16 * 9);
  border-top: 5px solid black;
}
.divider {
  height: 30px;
  width: 100%;
}
@media only screen and (max-width: 1100px) {
  .fuhrpark-zug-fahrzeuge {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .fuhrpark-zug-fahrzeuge a.fahrzeuge-link {
    margin: 0;
    min-width: calc(390px * 0.95);
  }
  .fahrzeuge {
    width: 95vw;
    min-width: calc(390px * 0.95);
    max-width: 30em;
  }
  .fahrzeuge div img {
    width: 95vw;
    min-width: calc(390px * 0.95);
    max-width: 30em;
    height: calc(95vw / 16 * 9);
    min-height: calc(390px / 16 * 9);
    max-height: calc(30em / 16 * 9);
  }
  .fuhrpark-zug-fahrzeuge a#fahrzeug-tk2,
  .fuhrpark-zug-fahrzeuge a#fahrzeug-bz,
  .fuhrpark-zug-fahrzeuge a#fahrzeug-ktf,
  .fuhrpark-zug-fahrzeuge a#fahrzeug-dlk,
  .fuhrpark-zug-fahrzeuge a#fahrzeug-mtf,
  .fuhrpark-zug-fahrzeuge a#fahrzeug-srf,
  .fuhrpark-zug-fahrzeuge a#fahrzeug-lf,
  .fuhrpark-zug-fahrzeuge a#fahrzeug-krf {
    margin-bottom: 10px;
  }
}
