#fuhrpark {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.fahrzeuge {
  width: 80vw;
  height: 70vh;
  background-color: #f0ece1;
  margin-top: 20px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.fahrzeuge-img {
  position: relative;
  height: 80%;
  width: 60%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fahrzeuge-img img {
  position: relative;
  height: 100%;
}
.fahrzeuge-specs {
  width: 30%;
  height: 80%;
  border: 2px solid black;
  font-family: Ubuntu, sans-serif;
}
