#element-2 {
  color: #f0ece1;
}
#fuhrpark {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.fuhrpark-zug {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fuhrpark-zug-fahrzeuge {
  width: 100%;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}
#fuhrpark-zug-last {
  margin-bottom: 20px;
}
.linebreak {
  width: 100%;
  margin: 20px 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.linebreak hr {
  width: calc(100vw - 140px);
  border: 3px solid #f0ece1;
  margin: 0;
}
.linebreak p {
  color: #f0ece1;
  margin: 0 0 0 20px;
  font-size: 30px;
}
#linebreak-kmd {
  width: calc(100vw - 215px);
}
.fahrzeuge-link {
  text-decoration: none;
  margin: 5px 0 5px 15px;
  height: fit-content;
  color: black;
  border-radius: 5px;
  overflow: hidden;
  border: 3px solid #a72920;
  transition: border-color 0.5s ease, color 0.5s ease;
}
.fahrzeuge-link:hover {
  border-color: #f0ece1;
  color: #f0ece1;
}
.fahrzeuge {
  width: 550px;
  height: fit-content;
  background-color: #f0ece1;
  overflow: hidden;
  text-align: center;
  transition: background-color 0.2s ease;
}
.fahrzeuge:hover {
  background-color: black;
  border-color: #f0ece1;
}
.fahrzeuge-box {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.fahrzeuge-img {
  align-self: center;
  position: relative;
  width: 550px;
  height: 310px;
  border-top: 5px solid black;
}
.divider {
  height: 30px;
  width: 100%;
}
