#element-5 {
  color: #f0ece1;
}
main {
  min-height: calc(100vh - 90px - 60px - 3px);
  height: fit-content;
  display: flex;
  align-items: center;
}
main h1 {
  width: 100%;
  font-family: Ubuntu, sans-serif;
  font-size: 2vw;
  color: #f0ece1;
  text-align: center;
}
@media only screen and (max-width: 1200px) {
  main {
    min-height: calc(100vh - 135px - 60px - 3px);
  }
}
