#element-5 {
  color: #f0ece1;
}
.maintainance {
  margin-top: 93px;
  font-family: Ubuntu, sans-serif;
  font-size: 2vw;
  color: white;
  position: absolute;
  top: calc(100% / 2 - 93px);
  left: calc(100% / 2 - 15vw);
}
.header-main-nav ul li a[href="gal.html"] {
  color: white;
}
