@font-face {
  font-family: Ubuntu;
  src: url(../fonts/Ubuntu-Medium.ttf);
--color-white:  #F0ECE1
}
body {
  background-color: black;
}
body:after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url(../img/fbiconc.png) url(../img/icon.png) url(../img/iniconc.png);
}
.mainheader {
  position: fixed;
  width: 100%;
  height: 90px;
  background-color: #a72920;
  border-bottom: 3px solid black;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  z-index: 100000;  
}
.mainheaderlogo {
  width: fit-content;
  height: 100%;
  display: flex;
  padding-left: 60px;
}
.mainheaderimg {
  background-image: url(../img/icon\ 2.png);
  height: 80px;
  width: 60px;
  align-self: center;
  background-repeat: no-repeat;
  background-size:contain;
  margin-top: 5px;
}
.mainheaderimg:hover {
  background-image: url(../img/icon.png);
}
.mainheadernav {
  width: fit-content;
  height: 100%;
  cursor: pointer;
}
.mainheadernav ul {
  list-style: none;
}
.mainheadernav ul li {
  display: inline;
  float: left;
  line-height: 55px;
  height: 100%;
}
.mainheadernav ul li a {
  padding: 0 60px 0 0;
  text-decoration: none;
  font-family: Ubuntu, sans-serif;
  font-size: 25px;
  font-weight: 500;
  text-transform: uppercase;
  color: black;
  height: 100%;
}
.mainheadernav ul li a:hover {
  color: #F0ECE1;
}
.mainheadersm {
  width: fit-content;
  height: 100%
  align-items: center;
  display: flex;
  align-items: center;
  column-gap: 15px;
}
.mainheadersmfb {
  width: 40px;
  height: 40px;
  background-image: url(../img/fbicon.png);
  border: 2px solid black;
  border-radius: 24px;
  background-repeat: no-repeat;
  background-size: cover;
}
.mainheadersmfb:hover {
  width: 40px;
  height: 40px;
  background-color: #F0ECE1;
  border-radius: 24px;
  border: 2px solid #F0ECE1;
  background-image: url(../img/fbiconc.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.mainheadersmin {
  width: 40px;
  height: 40px;
  background-image: url(../img/inicon.png);
  background-repeat: no-repeat;
  border: 2px solid black;
  border-radius: 24px;
  background-size: cover;
  margin-right: 20px;
}
.mainheadersmin:hover {
  width: 40px;
  height: 40px;
  background-color: #F0ECE1;
  border-radius: 24px;
  border: 2px solid #F0ECE1;
  background-image: url(../img/iniconc.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 20px;
}
.weather {
  overflow: hidden;
  max-width: 36%;
  position: relative;
  height: 910px;
}
.weatherradar {
  position: relative;
  border: 0px none;
  height: 114vh;
  width: 100%;
  align-self: center;
  bottom: 140px;
}
