.header-main-img {
  background-image: url(../img/icon-ff-white.png);
}
.homepage {
  width: 100%;
}
.homepage-intro {
  width: 100%;
  background-image: url(../img/icon-lfv2.png), url(../img/pic-halle.jpg);
  background-repeat: no-repeat;
  background-size: 60vh, cover;
  background-position: center 27vh, center;
  height: calc(100vh - 93px);
  position: relative;
  align-items: top;
  display: flex;
  justify-content: center;
  z-index: 9;
}
.homepage-intro-title {
  font-family: Ubuntu, sans-serif;
  position: relative;
  margin-top: 10vh;
  font-size: 4vw;
  -webkit-text-stroke: 0.001px #f0ece1;
}
/* Weather Monitor*/
.info {
  overflow: hidden;
  max-width: 100%;
  position: relative;
  height: 800px;
  align-items: start;
  display: flex;
  justify-content: center;
  margin: 40px 0 40px 0;
  flex-wrap: nowrap;
}
.info-weather-radar {
  position: relative;
  margin: 0px 1.5vh 0 1.5vh;
  height: 760px;
  overflow: hidden;
  border: 20px solid #f0ece1;
  border-radius: 25px;
  width: 580px;
}
.info-weather-radar-link {
  position: relative;
  bottom: 177px;
  border: 0px none;
  height: calc(100% + 180px);
  width: 580px;
}
.info-block2 {
  height: 100%;
}
.info-weather-forecast {
  position: relative;
  margin: 0px 1.5vh 0 1.5vh;
  height: 360px;
  overflow: hidden;
  border: 20px solid #f0ece1;
  border-radius: 25px;
  width: 580px;
  margin-top: 40px;
}
.info-weather-forecast-link {
  position: relative;
  bottom: 170px;
  border: 0px none;
  height: calc(100% + 180px);
  width: 100%;
}
/* Statistics */
.info-statistics {
  width: 620px;
  height: 45%;
  background-color: #f0ece1;
  position: relative;
  font-family: Ubuntu, sans-serif;
  margin: 0px 1.5vh 0 1.5vh;
  border-radius: 25px;
  display: flex;
  align-items: left;
  justify-content: center;
}
.info-statistics p {
  font-family: Ubuntu, sans-serif;
  position: relative;
  font-size: 25px;
  z-index: 1;
}
.info-statistics img {
  position: relative;
  top: -30px;
  width: 60%;
  height: auto;
  border: 3px solid red;
}
.info-statistics h1 {
  position: relative;
  font-family: Ubuntu, sans-serif;
  bottom: 90px;
  font-size: 80px;
}
.info-statistics-1 {
  width: 50%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}
.info-statistics-2 {
  width: 50%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}
.info-news {
  width: 580px;
  height: 760px;
  background-color: #f0ece1;
  border: 20px solid #f0ece1;
  border-radius: 25px;
  margin: 0px 1.5vh 0 1.5vh;
  text-align: center;
  line-height: 760px;
  font-size: 80px;
  font-family: Ubuntu, sans-serif;
}
