.diashow {
  width: 100%;
  height: calc(100vh - 93px);
  margin-top: 93px;
  background-image: url(../img/Tank1.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: top;
}
.org-name {
  font-family: Ubuntu, sans-serif;
  font-size: 10vh;
  color: #f0ece1;
  margin-top: 120px;
}
.weather {
  overflow: hidden;
  max-width: 680px;
  position: relative;
  height: 910px;
  align-items: end;
  display: flex;
  justify-content: left;
}
.weatherradar {
  position: relative;
  border: 0px none;
  height: calc(100% + 140px);
  width: 100%;
}
