.header-main-logo {
  background-image: url(../img/icon-ff-white.png);
}
.homepage {
  width: 100%;
}
.homepage-intro {
  width: 100%;
  background-image: url(../img/pic-halle.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: calc(100vh - 93px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.homepage-intro div {
  width: 50%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.homepage-intro div h1 {
  text-align: center;
  width: 100%;
  color: #f0ece1;
  font-size: 4vw;
  opacity: 0;
  filter: blur(4px);
}
.homepage-intro div h1:nth-child(1) {
  animation: fade-in 1.5s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.homepage-intro div img {
  width: 70%;
  height: auto;
  filter: blur(4px);
  opacity: 0;
  text-align: center;
}
.homepage-intro div img:nth-child(2) {
  animation: fade-in 1.5s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
/* Weather Monitor*/
.info {
  overflow: hidden;
  height: fit-content;
  align-items: start;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.info-weather-radar {
  width: 580px;
  height: 760px;
  margin: 40px 0 40px 0;
  overflow: hidden;
  border: 10px solid #a72920;
  border-radius: 5px;
  display: flex;
  align-items: end;
}
.info-weather-radar-link {
  position: relative;
  height: calc(100% + 180px);
  width: 580px;
}
.info-block2 {
  height: 780px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0 40px 0;
}
.info-weather-forecast {
  position: relative;
  height: 360px;
  overflow: hidden;
  border: 10px solid #a72920;
  border-radius: 5px;
  width: 580px;
}
.info-weather-forecast-link {
  position: relative;
  bottom: 170px;
  border: 0px none;
  height: calc(100% + 180px);
  width: 100%;
}
/* Statistics */
.info-statistics {
  width: 580px;
  height: fit-content;
  background-color: #f0ece1;
  border: 10px solid #a72920;
  border-radius: 5px;
  display: flex;
  align-items: left;
  justify-content: center;
}
.info-statistics p {
  font-family: Ubuntu, sans-serif;
  position: relative;
  font-size: 25px;
  margin: 0 0 20px;
  top: 10px;
  z-index: 1;
}
.info-statistics img {
  position: relative;
  width: 50%;
  height: auto;
}
.info-statistics h2 {
  position: relative;
  font-family: Ubuntu, sans-serif;
  font-size: 80px;
  margin: 0;
}
.info-statistics-1 {
  width: 50%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}
.info-statistics-2 {
  width: 50%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}
.info-news {
  width: 500px;
  height: 760px;
  margin: 40px 0 40px 0;
  background-color: #f0ece1;
  border: 10px solid #a72920;
  border-radius: 5px;
  font-size: 80px;
  font-family: Ubuntu, sans-serif;
  overflow: hidden;
}
.condir {
  width: 100%;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.directions {
  width: 65vw;
  height: 450px;
  border: 10px solid #a72920;
  border-radius: 5px;
}
.contact {
  width: 500px;
  height: 450px;
  border: 10px solid #a72920;
  background-color: #f0ece1;
  border-radius: 5px;
  font-family: Ubuntu, sans-serif;
}
.contact h2 {
  font-size: 25px;
  line-height: ;
  margin: 10px 0 0 10px;
}
.contact p {
  font-size: 19px;
  margin-left: 5px;
}
.contact hr {
  border: 1px solid black;
  margin: 0;
}
@media only screen and (max-width: 1100px) {
  .homepage-intro {
    min-height: calc(100vw - 138px);
    height: calc(100vh - 138px);
  }
  .homepage-intro div {
    width: 80%;
    height: fit-content;
  }
  .homepage-intro div h1 {
    font-size: 8vw;
    padding: 0;
    margin: 0;
  }
}
