@font-face {
  font-family: Ubuntu;
  src: url(../fonts/Ubuntu-Medium.ttf);
  --color-white: #f0ece1;
}
body {
  min-width: 390px;
  max-width: 100vw;
  height: fit-content;
  background-color: black;
  margin: 0;
  font-family: Ubuntu, sans-serif;
}
main {
  min-width: 390px;
  max-width: 100vw;
  overflow: hidden;
}
body:after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url(../img/icon-ff-white.png) url(../img/icon-fcb-color.png)
    url(../img/icon-ff-white.png) url(../img/icon-ins-color.png)
    url(../img/pic-halle.png);
}
.header-main-pc {
  width: 100%;
  height: 90px;
  background-color: #a72920;
  border-bottom: 3px solid black;
  display: flex;
  justify-content: space-between;
}
.header-main-nav {
  height: 100%;
  width: fit-content;
  display: flex;
  justify-content: start;
}
.header-main-nav a {
  text-decoration: none;
  color: black;
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
  font-family: Ubuntu, sans-serif;
}
.header-main-logo {
  width: 90px;
  height: 90px;
  background-image: url(../img/icon-ff-black.png);
  background-repeat: no-repeat;
  background-size: 55px;
  background-position: center;
  margin: 0 20px 0 20px;
  transition: scale 0.5s ease, background-image 0.5s ease;
}
.header-main-logo:hover {
  background-image: url(../img/icon-ff-white.png);
}
.header-main-element {
  position: relative;
  width: fit-content;
  height: 90px;
  line-height: 90px;
  text-align: center;
  font-size: 2em;
  margin: 1em;
  transition: scale 0.5s ease, border-color 0.5s ease, color 0.5s ease;
}
.header-main-element:hover {
  color: #f0ece1;
  border-color: #f0ece1;
  scale: 1.2;
}
.sm {
  width: 140px;
  height: 90px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.sm-in {
  width: 55px;
  height: 55px;
  border: 1px solid transparent;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: 55px;
  transition: scale 0.3s ease, background-image 0.3s ease, border 0.3s ease;
  background-image: url(../img/icon-ins-black.png);
}
.sm-in:hover {
  scale: 1.2;
  border: 1px solid #f0ece1;
  background-color: #f0ece1;
  background-image: url(../img/icon-ins-color.png);
}
.sm-fb {
  width: 55px;
  height: 55px;
  border: 1px solid transparent;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: 55px;
  transition: scale 0.3s ease, background-image 0.3s ease, border 0.3s ease;
  background-image: url(../img/icon-fcb-black.png);
}
.sm-fb:hover {
  scale: 1.2;
  border: 1px solid #f0ece1;
  background-color: #f0ece1;
  background-image: url(../img/icon-fcb-color.png);
}
.sm-fb-box {
  height: fit-content;
}
.sm-mobile {
  height: 90px;
  display: flex;
}
.header-main-nav-2 .sm-mobile a {
  height: 90px;
  width: calc(130px / 2);
  background-repeat: no-repeat;
  background-size: 55px;
  background-position: center;
}
.sm-mobile a.sm-mobile-fb {
  background-image: url(../img/icon-fcb-black.png);
}
.sm-mobile a.sm-mobile-fb:hover {
  background-image: url(../img/icon-fcb-color.png);
}
.sm-mobile a.sm-mobile-in {
  background-image: url(../img/icon-ins-black.png);
}
.sm-mobile a.sm-mobile-in:hover {
  background-image: url(../img/icon-ins-color.png);
}
.section-divider {
  width: 100%;
  height: 10px;
  background-color: #f0ece1;
}
.header-main-mobile {
  display: none;
}
.header-main-nav-2 {
  height: 90px;
  overflow: visible;
  justify-content: space-between;
  align-items: center;
  background-color: #a72920;
  border-bottom: 3px solid black;
  position: relative;
  z-index: 100;
}
.nav-2-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-main-nav-2 #header-main-element-2 {
  display: none;
  background-color: #a72920;
  border-top: 3px solid black;
  border-bottom: 1px solid black;
  height: fit-content;
  flex-direction: column;
}
.header-main-nav-2 #header-main-element-2 a {
  font-size: 2em;
  text-align: center;
  width: 100%;
  height: 90px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  line-height: 90px;
  color: black;
}
.header-main-nav-2 #header-main-element-2 a:hover {
  color: #f0ece1;
  border-color: #f0ece1;
}
.header-main-nav-2 a {
  width: fit-content;
  height: 90px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}
.header-main-nav-2 a.sm-box {
  height: fit-content;
}
.header-main-nav-2 div a.header-mobile-menu {
  width: 90px;
  height: 90px;
  margin-right: calc(150px - 90px);
  background-color: #a72920;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.header-main-nav-2 div a.header-mobile-menu hr {
  border: 2px solid black;
  width: 70%;
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
}
.header-main-nav-2 div a.header-mobile-menu:hover hr {
  border-color: #f0ece1;
}
.header-main-nav-2 div a.header-mobile-menu:active hr {
  border-color: #f0ece1;
}
.header-main-nav-2 div a.header-mobile-menu hr#hr-top {
  margin-top: 30px;
}
.header-main-nav-2 div a.header-mobile-menu hr#hr-bottom {
  margin-bottom: 30px;
}
.header-main-nav-2 .nav-2-box div {
  width: 130px;
  margin: 0;
}
.active {
  background-color: #04aa6d;
  color: white;
}
.footer-main {
  width: 100%;
  height: 60px;
  background-color: #a72920;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Ubuntu, sans-serif;
}
.footer-section {
  margin: 0 25px 0 25px;
}
.footer-main a {
  text-decoration: none;
  color: black;
}
.footer-main a:hover {
  color: #f0ece1;
}
#footer-impressum {
  margin-right: 20px;
}
@media only screen and (max-width: 1100px) {
  .header-main-pc {
    display: none;
  }
  .header-main-mobile {
    display: contents;
  }
  .header-main-logo {
    height: 90px;
    width: 90px;
    background-size: 55px;
  }
}
