@font-face {
  font-family: Ubuntu;
  src: url(../fonts/Ubuntu-Medium.ttf);
--color-white: #F0ECE1
}
body {
  background-color: black;
}
body:after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url(../img/icon-fcb-color.png) url(../img/icon-ff-white.png) url(../img/icon-ins-color.png);
}
.header-main {
  position: fixed;
  width: 100%;
  height: 90px;
  background-color: #a72920;
  border-bottom: 3px solid black;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  z-index: 100000;  
}
.header-main-logo {
  width: fit-content;
  height: 100%;
  display: flex;
  padding-left: 60px;
}
.header-main-img {
  background-image: url(../img/icon-ff-black.png);
  height: 80px;
  width: 60px;
  align-self: center;
  background-repeat: no-repeat;
  background-size:contain;
  margin-top: 5px;
}
.header-main-img:hover {
  background-image: url(../img/icon-ff-white.png);
}
.header-main-nav {
  width: fit-content;
  height: 100%;
  cursor: pointer;
}
.header-main-nav ul {
  list-style: none;
}
.header-main-nav ul li {
  display: inline;
  float: left;
  line-height: 55px;
  height: 100%;
}
.header-main-nav ul li a {
  padding: 0 60px 0 0;
  text-decoration: none;
  font-family: Ubuntu, sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  color: black;
  height: 100%;
}
.header-main-nav ul li a:hover {
  color: #F0ECE1;
}
.header-main-sm {
  width: fit-content;
  height: 100%
  align-items: center;
  display: flex;
  align-items: center;
  column-gap: 15px;
}
.header-main-sm-fb {
  width: 40px;
  height: 40px;
  background-image: url(../img/icon-fcb-black.png);
  border: 2px solid black;
  border-radius: 24px;
  background-repeat: no-repeat;
  background-size: cover;
}
.header-main-sm-fb:hover {
  width: 40px;
  height: 40px;
  background-color: #F0ECE1;
  border-radius: 24px;
  border: 2px solid #F0ECE1;
  background-image: url(../img/icon-fcb-color.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.header-main-sm-in {
  width: 40px;
  height: 40px;
  background-image: url(../img/icon-ins-black.png);
  background-repeat: no-repeat;
  border: 2px solid black;
  border-radius: 24px;
  background-size: cover;
  margin-right: 20px;
}
.header-main-sm-in:hover {
  width: 40px;
  height: 40px;
  background-color: #F0ECE1;
  border-radius: 24px;
  border: 2px solid #F0ECE1;
  background-image: url(../img/icon-ins-color.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 20px;
}
