@font-face {
  font-family: Ubuntu;
  src: url(../fonts/Ubuntu-Medium.ttf);
  --color-white: #f0ece1;
}
body {
  background-color: black;
  margin: 0;
  font-family: Ubuntu, sans-serif;
}
body:after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url(../img/icon-fcb-color.png) url(../img/icon-ff-white.png)
    url(../img/icon-ins-color.png) url(../img/pic-halle.png);
}
.header-main {
  width: 100%;
  height: 10vh;
  background-color: #a72920;
  border-bottom: 3px solid black;
  display: flex;
  justify-content: space-between;
}
.header-main-nav {
  height: 100%;
  width: fit-content;
  display: flex;
  justify-content: start;
}
.header-main-nav a {
  text-decoration: none;
  color: black;
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
}
.header-main-logo {
  width: 7vw;
  height: 100%;
  background-image: url(../img/icon-ff-black.png);
  background-repeat: no-repeat;
  background-size: 6vh;
  background-position: center;
  margin: 0 1vw 0 1vw;
  transition: background-size 0.5s ease, background-image 0.5s ease;
}
.header-main-logo:hover {
  background-image: url(../img/icon-ff-white.png);
  background-size: 6.5vh;
}
.header-main-element {
  position: relative;
  width: 9vw;
  height: 10vh;
  line-height: 10vh;
  text-align: center;
  font-size: 1.6vw;
  margin: 1vw;
  transition: font-size 0.5s ease, border-color 0.5s ease, color 0.5s ease;
}
#element-1 {
  width: 7.2vw;
}
#element-2 {
  width: 7.7vw;
}
#element-3 {
  width: 9vw;
}
#element-4 {
  width: 6.7vw;
}
#element-5 {
  width: 6.2vw;
}
.header-main-element:hover {
  color: #f0ece1;
  border-color: #f0ece1;
  font-size: 1.8vw;
}
.header-main-sm {
  width: fit-content;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 40px;
}
.header-main-sm a {
  height: 4vw;
  width: 4vw;
}
.header-main-fb {
  width: 4vw;
  height: 4vw;
  background-image: url(../img/icon-fcb-black.png);
  background-repeat: no-repeat;
  background-size: 6vh;
  background-position: center;
  transition: background-image 0.5s ease,  border 0.5s ease, background-size 0.5s ease;
}
.header-main-fb:hover {
  background-image: url(../img/icon-fcb-color.png);
  background-size: 7vh;
  border: 2px solid #f0ece1;
  border-radius: 50%;
}
.header-main-in {
  height: 4vw;
  width: 4vw;
  margin: 0 4vw 0 1vw;
  background-image: url(../img/icon-ins-black.png);
  background-repeat: no-repeat;
  background-size: 6vh;
  background-position: center;
  justify-self: right;
  transition: background-image 0.5s ease,  border 0.5s ease, background-size 0.5s ease;
}
.header-main-in:hover {
  background-image: url(../img/icon-ins-color.png);
  background-size: 7vh;
  border: 2px solid #f0ece1;
  border-radius: 50%;
}
.section-divider {
  width: 100%;
  height: 10px;
  background-color: #a72920;
  margin-top: 20px;
}
.footer-main {
  width: 100%;
  height: 60px;
  background-color: #a72920;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Ubuntu, sans-serif;
}
.footer-section {
  margin: 0 25px 0 25px;
}
.footer-main a {
  text-decoration: none;
  color: black;
}
.footer-main a:hover {
  color: #f0ece1;
}
#footer-impressum {
  margin-right: 20px;
}
