.mad-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.mad-div-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0ece1;
  border-radius: 5px;
  border: 4px solid #ffd700;
  margin: 1em;
}
.mad-div-2-ehm {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0ece1;
  border-radius: 5px;
  border: 3px solid #cd7f32;
  margin: 0.5em;
}
.mad-div-3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 15em;
  padding: 0.2em;
}
.mad-div-3-ehm {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 15em;
  padding: 0.2em;
}
.mad-div-3 div {
  font-size: 17px;
  width: 10em;
  text-align: center;
}
.mad-div-3-ehm div {
  font-size: 17px;
  width: 10em;
  text-align: center;
}
