#element-3 {
  color: #f0ece1;
  border-color: #f0ece1;
}
.linebreak {
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.linebreak hr {
  width: 100vw;
  border: 3px solid #f0ece1;
  margin: 0;
}
.linebreak div .mobile,
.linebreak div .pc {
  color: #f0ece1;
  font-size: 30px;
}
.linebreak div .mobile {
  display: none;
}
.linebreak div {
  width: fit-content;
  margin: 10px;
}
.div-act {
  width: 100%;
  height: fit-content;
  border: 0 solid red;
}
.div-ver {
  height: fit-content;
}
.div-ver-group {
  height: fit-content;
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.div-ehm {
  height: fit-content;
}
.div-ehm-group {
  margin-top: 1em;
  display: flex;
  justify-content: space-around;
  height: fit-content;
  flex-wrap: wrap;
  align-items: center;
}
.div-mad {
  height: fit-content;
  width: fit-content;
}
.div-mad-group {
  width: 100vw;
  min-width: 390px;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.div-jfw {
  height: fit-content;
  margin: 1em 0 1em;
}
.div-jfw-group {
  margin: 1em 3vw 2em 3vw;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
@media only screen and (max-width: 1100px) {
  .div-ver-group {
    flex-direction: column;
    height: 35em;
  }
  .linebreak div p.pc {
    display: none;
    margin: 0;
  }
  .linebreak div p.mobile {
    display: contents;
    width: fit-content;
    padding: 10px;
  }
}
