#element-3 {
  color: #f0ece1;
}
.linebreak {
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.linebreak hr {
  width: calc(100vw - 300px);
  border: 3px solid #f0ece1;
  margin: 0;
}
.linebreak p {
  color: #f0ece1;
  margin: 0 0 0 20px;
  font-size: 30px;
}
