#element-3 {
  color: #f0ece1;
}
.linebreak {
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.linebreak hr {
  width: calc(100vw - 300px);
  border: 3px solid #f0ece1;
  margin: 0;
}
.linebreak p {
  color: #f0ece1;
  margin: 0 0 0 20px;
  font-size: 30px;
}
#linebreak-ver {
  width: calc(100vw - 220px);
}
#linebreak-mad {
  width: calc(100vw - 390px);
}
#linebreak-jfw {
  width: calc(100vw - 300px);
}
.div-act {
  width: 100%;
  height: fit-content;
  border: 0 solid red;
}
.div-ver {
  height: fit-content;
}
.div-ver-group {
  height: fit-content;
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.div-mad {
  height: fit-content;
}
.div-mad-group {
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
}
.div-jfw {
  height: fit-content;
  margin: 1em 0 1em;
}
.div-jfw-group {
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
}
#div-ehm-group {
  display: flex;
  justify-content: space-around;
}
@media only screen and (max-width: 90em) {
  .div-ver-group {
    flex-direction: column;
    height: 35em;
  }
}
